.nav-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-link.signup {
    border-color: #17C3B2; 
    color: #17C3B2;
  }
  

  .nav-link.login {
    border-color: #FE6D73; 
    color: #FE6D73;
  }

  
  .nav-link:hover {
    opacity: 0.8;
  }

  [dir="rtl"] .language-switcher-container {
    justify-content: flex-start; /* Ensure it remains centered in RTL as well */
  }
  
[dir="rtl"] .nav-container {
  justify-content: center;
}

[dir="rtl"] .nav-link {
  text-align: right;
}